/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Global styles  */

body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 414px) {
  .main-container {
    width: 384px;
  }
}
@media (min-width: 1024px) {
  .main-container {
    width: 960px;
  }
}

@media (min-width: 1280px) {
  .main-container {
    width: 1140px;
  }
}

/* Film P3 Font */
@font-face {
  font-family: 'Film P3';
  src: url('/src/fonts/FilmP3Bold.woff2') format('woff2'),
    url('/src/fonts/FilmP3Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
