:root {
  --main-text-color: #7a7a7a;
  --main-background-color: #fffdee;
  --secondary-background-color: #f0ecd6;
  --header-gradient: linear-gradient(
    to bottom,
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
  --hero-background-color: rgba(0, 0, 0, 0.65);
  --image-background-color: #dadada;
  --white-color: #fff;
  --white-address-color: #e5e5e5;
  --black-color: #000;
  --black-transparent-color: rgba(0, 0, 0, 0.4);
  --black-footer-color: #0e0c07;
  --yellow-color: #f3c653;
  --yellow-transparent-color: rgba(243, 198, 83, 0.7);
  --brown-color: #c79002;
  --grey-title-color: #494848;
  --grey-subtitle-color: #b4b4b4;
  --grey-secondary-description-color: #bababa;
  --grey-address-color: #828282;
  --placeholder-color: #808080;

  --transition-dur: 250ms;
  --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
}
