<section class="section-about-restaurant">
  <div class="main-container">
    <div>
      <p class="subtitle-restaurant">Amet minim mollit non</p>
      <h3 class="title-restaurant">MIMINO</h3>
      <p class="section-restaurant-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="restaurant-first-card">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about-restaurant-images/restaurant-interior-desk_1@1x.webp 1x,
              ./img/about-restaurant-images/restaurant-interior-desk_1@2x.webp 2x
            "
            type="image/webp"
            class="item"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 1024px)"
            srcset="
              ./img/about-restaurant-images/restaurant-interior-tab_1@1x.webp 1x,
              ./img/about-restaurant-images/restaurant-interior-tab_1@2x.webp 2x
            "
            type="image/webp"
            class="item"
          />

          <!-- Mobile screen -->
          <source
            media="(max-width: 1023.98px)"
            srcset="
              ./img/about-restaurant-images/restaurant-interior-mob_1@1x.webp 1x,
              ./img/about-restaurant-images/restaurant-interior-mob_1@2x.webp 2x
            "
            type="image/webp"
            class="item"
          />

          <img
            src="./img/about-restaurant-images/restaurant-interior-desk_1@1x.jpg"
            alt="restaurant hall"
            max-width="460px"
            max-height="574px"
            loading="lazy"
            class="item"
          />
        </picture>
      </div>

      <div class="second-part">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about-restaurant-images/restaurant-interior-desk_2@1x.webp 1x,
              ./img/about-restaurant-images/restaurant-interior-desk_2@2x.webp 2x
            "
            type="image/webp"
            class="item"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 1024px)"
            srcset="
              ./img/about-restaurant-images/restaurant-interior-tab_2@1x.webp 1x,
              ./img/about-restaurant-images/restaurant-interior-tab_2@2x.webp 2x
            "
            type="image/webp"
            class="item"
          />

          <!-- Mobile screen -->
          <source
            media="(max-width: 1023.98px)"
            srcset="
              ./img/about-restaurant-images/restaurant-interior-mob_2@1x.webp 1x,
              ./img/about-restaurant-images/restaurant-interior-mob_2@2x.webp 2x
            "
            type="image/webp"
            class="item"
          />

          <img
            src="./img/about-restaurant-images/restaurant-interior-desk_2@1x.jpg"
            alt="restaurant hall"
            max-width="460px"
            max-height="574px"
            class="item"
          />
        </picture>
        <p class="restaurant-text-accent">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>

    <div class="wrapper">
      <div class="slider">
        <div class="slider__item">
          <img
            src="./img/about-restaurant-images/slide-1-desk_@1x.jpg"
            alt=""
          />
        </div>
        <div class="slider__item">
          <img
            src="./img/about-restaurant-images/slide-2-desk_@1x.jpg"
            alt=""
          />
        </div>
        <div class="slider__item">
          <img
            src="./img/about-restaurant-images/slide-3-desk_@1x.jpg"
            alt=""
          />
        </div>
        <div class="slider__item">
          <img
            src="./img/about-restaurant-images/slide-4-desk_@1x.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Slider -->

<link
  rel="stylesheet"
  type="text/css"
  href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
/>

<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"
></script>
<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"
></script>

<script
  type="text/javascript"
  src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<script src="../../slider.js"></script>
