<section class="contacts--section">
  <div class="main-container">
    <h1 hidden>Контакти</h1>
    <h2 class="contacts--title">MIMIHO</h2>
    <h3 class="contacts--subtitle">Ресторанно-готельний комплекс</h3>
    <address>
      <ul class="contacts--list">
        <li class="contacts--item">
          <a class="contacts--label contacts--label__rest" href="#">ресторан</a>
          <a class="contacts--tel__rest" href="tel:095 555 95 33">
            <svg class="contacts--icon" width="24" height="24">
              <use href="../../img/icons.svg#phone-regular"></use></svg
            >095 555 95 33</a
          >
        </li>

        <li class="contacts--item">
          <a class="contacts--label contacts--label__hotel" href="">готель</a>
          <a class="contacts--tel" href="tel:066 849 10 89, tel:067 275 85 40"
            ><svg class="contacts--icon" width="24" height="24">
              <use href="../../img/icons.svg#phone-regular"></use></svg
            >066 849 10 89<span class="contacts--tel__second"
              >067 275 85 40</span
            ></a
          >
        </li>
        <li class="contacts--item">
          <p class="contacts--location">
            <svg class="contacts--icon" width="24" height="24">
              <use href="../../img/icons.svg#location-pin"></use>
            </svg>
            <span class="location--lable"
              >Україна, м. Полтава, вул. Маршала Бірюзова, 15</span
            >
          </p>
        </li>
      </ul>
    </address>
  </div>
</section>
