<div class="details-hotel-wrap">
  <section class="details-hotel">
    <div class="main-container">
      <div class="details-hotel-contant">
        <p class="details-hotel-logo">mimino</p>
        <h2 class="details-hotel-title">Готель</h2>
        <p class="details-hotel-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div class="details-hotel-wrapper">
        <div class="details-hotel-slider">
          <ul class="details-hotel-list details-slider">
            <li class="details-hotel-item">
              <picture>
                <source
                  srcset="
                    ./img/details-of-our-hotel/hotel-details-desktop/hotel-details-desktop-1.jpg    1x,
                    ./img/details-of-our-hotel/hotel-details-desktop/hotel-details-desktop-1@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/details-of-our-hotel/hotel-details-tablet/hotel-details-tablet-1.jpg    1x,
                    ./img/details-of-our-hotel/hotel-details-tablet/hotel-details-tablet-1@2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-1.jpg    1x,
                    ./img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-1@2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                />
                <img
                  class="details-hotel-img"
                  src="./img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-1.jpg"
                  alt="cake"
                />
              </picture>
            </li>

            <li class="details-hotel-item">
              <picture>
                <source
                  srcset="
                    ./img/details-of-our-hotel/hotel-details-desktop/hotel-details-desktop-2.jpg    1x,
                    ./img/details-of-our-hotel/hotel-details-desktop/hotel-details-desktop-2@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/details-of-our-hotel/hotel-details-tablet/hotel-details-tablet-2.jpg    1x,
                    ./img/details-of-our-hotel/hotel-details-tablet/hotel-details-tablet-2@2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-2.jpg    1x,
                    ./img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-2@2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                />
                <img
                  class="details-hotel-img"
                  src="./img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-2.jpg"
                  alt="tea"
                />
              </picture>
            </li>
            <li class="details-hotel-item">
              <picture>
                <source
                  srcset="
                    ./img/details-of-our-hotel/hotel-details-desktop/hotel-details-desktop-3.jpg    1x,
                    ./img/details-of-our-hotel/hotel-details-desktop/hotel-details-desktop-3@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/details-of-our-hotel/hotel-details-tablet/hotel-details-tablet-3.jpg    1x,
                    ./img/details-of-our-hotel/hotel-details-tablet/hotel-details-tablet-3@2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-3.jpg    1x,
                    ./img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-3@2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                />
                <img
                  class="details-hotel-img"
                  src="./img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-3.jpg"
                  alt="photo of the dish"
                />
              </picture>
            </li>
            <li class="details-hotel-item">
              <img
                class="details-hotel-img"
                srcset="
                  ./img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-4.jpg    1x,
                  ./img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-4@2x.jpg 2x
                "
                src="./img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-4.jpg"
                alt="general view of the served table"
              />
            </li>
          </ul>
        </div>
        <div class="details-hotel-btn-wrap">
          <button type="button" class="details-btn">Забронювати столик</button>
          <a href="./about-our-hotel.html" class="details-btn details-btn-link"
            >Переглянути ціни</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
