<div class="details-hotel-wrap">
  <section class="details-hotel">
    <div class="main-container">
     <div class="details-hotel-contant">
        <p class="details-hotel-logo">mimino</p>
        <h2 class="details-hotel-title">Готель</h2>
        <p class="details-hotel-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          Velit officia consequat duis enim velit mollit.
        </p>
     </div>
      <ul class="details-hotel-list details-slider">
        <li class="details-hotel-item">
          <img
            class="details-hotel-img"
            srcset="
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-1.jpg    1x,
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-1@2x.jpg 2x
            "
            src="../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-1.jpg"
            alt="cake"
            width="274px"
          />
        </li>
        <li class="details-hotel-item">
          <img
            class="details-hotel-img"
            srcset="
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-2.jpg    1x,
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-2@2x.jpg 2x
            "
            src="../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-2.jpg"
            alt="cake"
            width="274px"
          />
        </li>
        <li class="details-hotel-item">
          <img
            class="details-hotel-img"
            srcset="
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-3.jpg    1x,
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-3@2x.jpg 2x
            "
            src="../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-3.jpg"
            alt="cake"
            width="274px"
          />
        </li>
        <li class="details-hotel-item">
          <img
            class="details-hotel-img"
            srcset="
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-4.jpg    1x,
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-4@2x.jpg 2x
            "
            src="../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-4.jpg"
            alt="cake"
            width="274px"
          />
        </li>
        <li class="details-hotel-item">
          <img
            class="details-hotel-img"
            srcset="
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-5.jpg    1x,
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-5@2x.jpg 2x
            "
            src="../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-5.jpg"
            alt="cake"
            width="274px"
          />
        </li>
        <li class="details-hotel-item">
          <img
            class="details-hotel-img"
            srcset="
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-6.jpg    1x,
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-6@2x.jpg 2x
            "
            src="../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-6.jpg"
            alt="cake"
            width="274px"
          />
        </li>
        <li class="details-hotel-item">
          <img
            class="details-hotel-img"
            srcset="
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-7.jpg    1x,
              ../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-7@2x.jpg 2x
            "
            src="../../img/details-of-our-hotel/hotel-details-mobile/hotel-details-mobile-7.jpg"
            alt="cake"
            width="274px"
          />
        </li>
      </ul>
      <button type="button" class="details-btn btn">
        Забронювати столик
      </button>
      <button type="button" class="details-btn btn">
        Переглянути меню
      </button>
    </div>
  </section>
</div>
