<div class="details-restaurant-wrap">
  <section class="details-restaurant">
    <div class="main-container">
      <div class="details-restaurant-contant">
        <p class="details-restaurant-logo">mimino</p>
        <h2 class="details-restaurant-title">Ресторан</h2>
        <p class="details-restaurant-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div class="details-restaurant-wrapper">
        <ul class="details-restaurant-list details-slider">
          <li class="details-restaurant-item">
            <picture>
              <source
                srcset="
                  ./img/details-of-our-restaurant/restaurant-details-desktop/restaurant-details-desktop-1.jpg    1x,
                  ./img/details-of-our-restaurant/restaurant-details-desktop/restaurant-details-desktop-1@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/details-of-our-restaurant/restaurant-details-tablet/restaurant-details-tablet-1.jpg    1x,
                  ./img/details-of-our-restaurant/restaurant-details-tablet/restaurant-details-tablet-1@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-mobile-1.jpg    1x,
                  ./img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-mobile-1@2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="details-restaurant-img"
                src="./img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-mobile-1.jpg"
                alt="cake"
              />
            </picture>
          </li>

          <li class="details-restaurant-item">
            <picture>
              <source
                srcset="
                  ./img/details-of-our-restaurant/restaurant-details-desktop/restaurant-details-desktop-2.jpg    1x,
                  ./img/details-of-our-restaurant/restaurant-details-desktop/restaurant-details-desktop-2@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/details-of-our-restaurant/restaurant-details-tablet/restaurant-details-tablet-2.jpg    1x,
                  ./img/details-of-our-restaurant/restaurant-details-tablet/restaurant-details-tablet-2@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-mobile-2.jpg    1x,
                  ./img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-mobile-2@2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="details-restaurant-img"
                src="./img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-mobile-2.jpg"
                alt="tea"
              />
            </picture>
          </li>
          <li class="details-restaurant-item">
            <picture>
              <source
                srcset="
                  ./img/details-of-our-restaurant/restaurant-details-desktop/restaurant-details-desktop-3.jpg    1x,
                  ./img/details-of-our-restaurant/restaurant-details-desktop/restaurant-details-desktop-3@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/details-of-our-restaurant/restaurant-details-tablet/restaurant-details-tablet-3.jpg    1x,
                  ./img/details-of-our-restaurant/restaurant-details-tablet/restaurant-details-tablet-3@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-mobile-3.jpg    1x,
                  ./img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-mobile-3@2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="details-restaurant-img"
                src="./img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-mobile-3.jpg"
                alt="photo of the dish"
              />
            </picture>
          </li>
          <li class="details-restaurant-item">
            <img
              class="details-restaurant-img"
              srcset="
                ./img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-mobile-4.jpg    1x,
                ./img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-mobile-4@2x.jpg 2x
              "
              src="./img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-mobile-4.jpg"
              alt="general view of the served table"
            />
          </li>
        </ul>
        <div class="details-restaurant-btn-wrap">
          <button type="button" class="details-btn">Забронювати столик</button>
          <a
            href="./about-our-restaurant.html"
            class="details-btn details-btn-link"
            >Переглянути меню</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
