<section>
    <div>
        <p>Забронювати столик</p>
    <form action="">
        <ul class="book-table-list">
            <li class="book-table-item"><input type="text" name="" id="" class="book-table-inpu"></li>
            <li class="book-table-item"><input type="text" name="" id="" class="book-table-inpu"></li>
            <li class="book-table-item"><select name="" id="" class="book-table-sel">
                <optgroup label="Кількість особ">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </optgroup>
            </select></li>
            <li class="book-table-item"><select name="" id="" class="book-table-sel">
                <optgroup label="Вибріть день">
                    <option value="today">Сьогодні</option>
                    <option value="tommorow">Завтра</option>
                    <option value="day-after-tommorow">Післязавтра</option>
                </optgroup>
            </select></li>
        </ul>
    </form>
    <button type="button">Оформити бронювання</button>
</div>
    
</section>
