<section class="section-modal-book-table">
    <link rel="stylesheet" href="../../css/modals/book-table-modal.css">
    <link rel="stylesheet" href="../../css/base/variables.css">
    <link rel="stylesheet" href="../../css/base/reset_and_global_styles.css">
    <div class="book-table-modal"> 
        
        <button type="button" class="modal-table-close"><svg>
            <use href="../../img/icons.svg#icon-close-modal-tabel"></use>
        </svg></button>
        <p class="title-table-mod">ЦІНИ НА НОМЕР</p>
       
    <form class="book-table-form">
        <ul class="book-table-list">
            <li class="book-table-item"><input type="number" name="name" id="name-of-customers" class="book-table-inpu" placeholder="Ваше ім’я" required></li>
            <li class="book-tablet-sub-title"><label class="sub-text" for="name-of-customers">На кого забронювати столик?</label></li>
            <li class="book-table-item"><input type="number" name="phone" id="phone" class="book-table-inpu" placeholder="+38 (___) ___-__-__"required></li>
            <li class="book-tablet-sub-title"><label class="sub-text" for="phone">Номер телефону</label></li>
            <li class="book-table-item">

        <button type="submit" class="make-book">ЗАБРОНЮВАТИ НОМЕР</button>
    </form>
    
</div>

    <script src="../../public/modal-table.js"></script>
</section>

