<section class="section-modal-book-table">
    <link rel="stylesheet" href="../../css/modals/room-price-modal.css">
    <link rel="stylesheet" href="../../css/base/variables.css">
    <link rel="stylesheet" href="../../css/base/reset_and_global_styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div class="book-table-modal"> 
        <div class="block-close">
            <button type="button" class="modal-table-close"><svg>
            <use href="../../img/icons.svg#icon-close-modal-tabel"></use>
        </svg></button>
    </div>
        <div class="main-block-modal-tabel">
            <p class="title-table-mod">ЦІНИ НА НОМЕР</p>
            
            <p class="sub-title-mod-price">Двомісний люкс</p>
            
            <form class="book-table-form">
                <ul class="book-table-list">
                    <li class="book-tablet-sub-title">
                        <span class="select-title">Категорія номеру</span>
                        <div class="custom-select">
                            <select name="table" id="size-tabel">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="1">5</option>
                            </select>
                        </div>
                        <label class="sub-text" for="size-table">Кількість ночей</label>
                    </li>
                    <li class="book-tablet-output">
                        <div class="con-output">
                            <p class="output" id="result">1000</p>
                        </div>
                        <p class="sub-text">грн</p>
                    </li>
                </ul>
                <button type="submit" class="make-book" id="convert">ЗАБРОНЮВАТИ НОМЕР</button>
            </form>
        </div>
        
</div>

    <script src="../../public/modal-table.js"></script>
</section>

