<section class="luxe-room">
  <div class="main-container room-description">
    <div class="section-text">
      <p class="top-title-room">Amet minim mollit non</p>
      <h3 class="main-title-room">MIMIHO</h3>

      <h2 class="title-name-room">ДВОМІСНИЙ НОМЕР люкс</h2>
      <p class="description-room">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="room-photo">
      <img
        src="../../img/hotel-page-img/room-luxe-for-2-img/main-room-1@1x.jpg"
        alt="Photo main room"
        width="460"
        height="574"
      />
    </div>
  </div>

  <div class="main-container slider-photo">
    <ul class="slider-photo-list">
      <li class="slider-photo-item">
        <img
          src="../../img/hotel-page-img/room-luxe-for-2-img/bathroom-slider-1@1x.jpg"
          alt="Photo bathroom"
          width="254"
          height="254"
        />
      </li>
      <li class="slider-photo-item">
        <img
          src="../../img/hotel-page-img/room-luxe-for-2-img/cup-tea-slider-2@1x.jpg"
          alt="Cup tea"
          width="254"
          height="254"
        />
      </li>
    </ul>
  </div>

  <div class="main-container slider-arrow">
    <a class="" href="">
      <svg class="" width="32" height="32">
        <use href="../../img/icons.svg#icon-slider-arrow-left"></use>
      </svg>
    </a>
    <a class="" href="">
      <svg class="" width="32" height="32">
        <use href="../../img/icons.svg#icon-slider-arrow-right"></use>
      </svg>
    </a>
  </div>

  <div class="main-container">
    <button class="" type="button">
      <a href="room-page.html">Детальніше</a>
    </button>
    <button class="" type="button">Переглянути ціни</button>
  </div>
</section>
