<section class="luxe-room">
  <div class="">
    <div class="">
      <p class="top-title-room">Amet minim mollit non</p>
      <h3 class="main-title-room">MIMIHO</h3>

      <h2 class="title-name-room">ДВОМІСНИЙ НОМЕР люкс</h2>
      <p class="description-room">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="">
      <img
        src=".../img/hotel-page-img/room-luxe-for-2-img/main-room-1@1x.jpg"
        alt="Photo main room"
        width="460"
        height="574"
        style="background-color: teal"
      />
    </div>
  </div>
  <div class="">
    <img
      src=""
      alt="Photo bathroom"
      width="254"
      height="254"
      style="background-color: green"
    />
    <img
      src=""
      alt="Cup tea"
      width="254"
      height="254"
      style="background-color: green"
    />

    <a class="" href="">
      <svg class="" width="32" height="32">
        <use href=".../img/icons.svg#icon-slider-arrow-left"></use>
      </svg>
    </a>
    <a class="" href="">
      <svg class="" width="32" height="32">
        <use href=".../img/icons.svg#icon-slider-arrow-right"></use>
      </svg>
    </a>
  </div>
  <div class="">
    <button class="" type="button">Детальніше</button>
    <button class="" type="button">Переглянути ціни</button>
  </div>
</section>
