/* =============================BG-SLIDER==================================== */
.body_slides {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: -2;
  background: #000;
}

.body_slides {
  position: absolute;
  width: 100%;
  height: 740px;
  top: 0px;
  left: 0px;
}

.body_slides li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-animation: anim_slides 18s linear infinite 0s;
  -moz-animation: anim_slides 18s linear infinite 0s;
  -o-animation: anim_slides 18s linear infinite 0s;
  -ms-animation: anim_slides 18s linear infinite 0s;
  animation: anim_slides 18s linear infinite 0s;
}

.body_slides li:nth-child(1) {
  background-image: url('../../img/hero-img/hero-bg-hotel-mobile.jpg');
}

.body_slides li:nth-child(2) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  background-image: url('../../img/hero-img/hero-bg-mobile.jpg');
}

.body_slides li:nth-child(3) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  background-image: url('../../img/hero-img/hero-bg-rest-mobile.jpg');
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 414px),
  screen and (min-resolution: 192dpi) and (max-width: 414px),
  screen and (min-resolution: 2dppx) and (max-width: 414px) {
  .body_slides li:nth-child(1) {
    background-image: url('../../img/hero-img/hero-bg-hotel-mobile@2x.jpg');
  }

  .body_slides li:nth-child(2) {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    background-image: url('../../img/hero-img/hero-bg-mobile@2x.jpg');
  }

  .body_slides li:nth-child(3) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    background-image: url('../../img/hero-img/hero-bg-rest-mobile@2x.jpg');
  }
}

@-webkit-keyframes anim_slides {
  0% {
    opacity: 0;
  }

  6% {
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes anim_slides {
  0% {
    opacity: 0;
  }

  6% {
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 415px) {
  .body_slides li:nth-child(1) {
    background-image: url('../../img/hero-img/hero-bg-hotel-tabl.jpg');
  }

  .body_slides li:nth-child(2) {
    background-image: url('../../img/hero-img/hero-bg-tablet.jpg');
  }

  .body_slides li:nth-child(3) {
    background-image: url('../../img/hero-img/hero-bg-rest-tabl.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 415px),
  screen and (min-resolution: 192dpi) and (min-width: 415px),
  screen and (min-resolution: 2dppx) and (min-width: 415px) {
  .body_slides li:nth-child(1) {
    background-image: url('../../img/hero-img/hero-bg-hotel-tabl@2x.jpg');
  }

  .body_slides li:nth-child(2) {
    background-image: url('../../img/hero-img/hero-bg-tablet@2x.jpg');
  }

  .body_slides li:nth-child(3) {
    background-image: url('../../img/hero-img/hero-bg-rest-tabl@2x.jpg');
  }
}

@media screen and (min-width: 1025px) {
  .body_slides li:nth-child(1) {
    background-image: url('../../img/hero-img/hero-bg-hotel-desk.jpg');
  }

  .body_slides li:nth-child(2) {
    background-image: url('../../img/hero-img/hero-bg-desktop.jpg');
  }

  .body_slides li:nth-child(3) {
    background-image: url('../../img/hero-img/hero-bg-rest-desk.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1025px),
  screen and (min-resolution: 192dpi) and (min-width: 1025px),
  screen and (min-resolution: 2dppx) and (min-width: 1025px) {
  .body_slides li:nth-child(1) {
    background-image: url('../../img/hero-img/hero-bg-hotel-desk@2x.jpg');
  }

  .body_slides li:nth-child(2) {
    background-image: url('../../img/hero-img/hero-bg-desktop@2x.jpg');
  }

  .body_slides li:nth-child(3) {
    background-image: url('../../img/hero-img/hero-bg-rest-desk@2x.jpg');
  }
}

/* ============================= /BG-SLIDER==================================== */

.hero-section-hotel {
  position: relative;
  height: 740px;
  padding-bottom: 20px;
  padding-top: 64px;
  background-size: cover;
  background-color: var(--hero-background-color);
}

.hero-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.hero-link-adress {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-align: left;
  gap: 6px;
  width: 210px;
  border: 1px solid var(--yellow-transparent-color);
  border-radius: 2px;
  padding-top: 8px;
  padding-left: 6px;
  padding-bottom: 8px;
  padding-right: 6px;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--white-address-color);
  transition: border-color var(--transition-dur) var(--transition-func),
  color var(--transition-dur) var(--transition-func);
}

.hero-link-adress:hover,
.hero-link-adress:focus {
  border-color: var(--brown-color);
  color: var(--yellow-color);
}

.hero-icon-map {
  width: 20px;
  height: 20x;
  fill: var(--yellow-color);
  flex-shrink: 0;
  transition: fill var(--transition-dur) var(--transition-func);
}

.hero-link-adress:hover .hero-icon-map,
.hero-link-adress:focus .hero-icon-map {
  fill: var(--brown-color);
}

.hero-wrapper {
  margin: auto 0;
}

.hero-title {
  width: 303px;
  margin: 0 auto;
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--white-color);
}

.hero-section-title {
  margin-top: 24px;
  margin-bottom: 40px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-color);
}

.hero-description {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--white-color);
}

.hero-button-list {
  margin: auto 0;
}

.hero-button-item:not(:last-child) {
  margin-bottom: 24px;
}

.hero-button {
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;
  background-color: var(--black-transparent-color);
  border: 2px solid var(--white-color);
  border-radius: 25px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: inherit;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--yellow-color);
  transition: background-color var(--transition-dur) var(--transition-func),
  border-color var(--transition-dur) var(--transition-func);
}

.hero-button-anchor {
  display: inline-block;
  min-width: 240px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--white-color);
  border-color: var(--yellow-color);
}

.hero-social-list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.hero-social-link {
  display: block;
}

.hero-social-icon {
  fill: var(--yellow-color);
  display: block;
  transition: fill var(--transition-dur) var(--transition-func);
}

.hero-social-link:hover .hero-social-icon,
.hero-social-link:focus .hero-social-icon {
  fill: var(--brown-color);
}

@media screen and (max-width: 375px) {
  .hero-section-hotel {
    padding-top: 88px;
  }

  .hero-title {
    font-size: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .body_slides {
    height: 720px;
  }

  .hero-section-hotel {
    height: 720px;
    padding-bottom: 15px;
    padding-top: 188px;
  }

  .hero-container {
    position: relative;
  }

  .hero-link-adress {
    position: absolute;
    left: 15px;
    bottom: 50px;
    width: 285px;
    font-size: 16px;
  }

  .hero-wrapper {
    margin: 0 0 145px;
  }

  .hero-title {
    width: 404px;
    font-size: 128px;
  }

  .hero-section-title {
    margin-top: 16px;
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 1.2;
  }

  .hero-description {
    font-size: 36px;
  }

  .hero-button-list {
    margin: 0 0 21px 0;
    display: flex;
    align-items: center;
    gap: 40px;
    align-self: self-end;
  }

  .hero-button-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {

  .body_slides {
      height: 700px;
    }

  .hero-section {
    height: auto;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 164px;
    padding-bottom: 64px;
  }

  .hero-link-adress {
    bottom: 0;
  }

  .hero-button-list {
    margin: 0;
  }

  .hero-social-list {
    display: none;
  }

  .hero-button {
    padding-left: 35px;
    padding-right: 35px;
  }

  .body_slides,
  .body_slides:after {
    max-width: 1280px;
  }
}
