.mimino {
  font-family: 'Film P3';
  color: red;
}

.hero-hotel-section {
  background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url('../../img/hero-img/hero-bg-hotel-mobile.jpg');
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 414px),
screen and (min-resolution: 192dpi) and (max-width: 414px),
screen and (min-resolution: 2dppx) and (max-width: 414px) {
  .hero-hotel-section {
    background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url('../../img/hero-img/hero-bg-hotel-mobile@2x.jpg');
  }
}