<section class="menu">
  <div class="main-container menu-container">
    <h2 class="menu-title">МЕНЮ РЕСТОРАНУ</h2>
    <div class="menu-div">
      <div class="menu-div-list">
        <h3 class="menu-pro-title">Гарячі страви</h3>
        <div class="giv">
          <div class="giv-list">
            <div class="menu-list">
              <div class="menu-name-div">
                <h4 class="menu-name">Борщ з телятини з квасолею</h4>
                <p class="menu-ingrid">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </p>
              </div>
              <div class="menu-price-grams">
                <p class="menu-grams">400 г</p>
                <p class="menu-price">240 грн</p>
              </div>
            </div>
            <div class="menu-list">
              <div class="menu-name-div">
                <h4 class="menu-name">Суп сирний з куркою</h4>
                <p class="menu-ingrid">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </p>
              </div>
              <div class="menu-price-grams">
                <p class="menu-grams">400 г</p>
                <p class="menu-price">200 грн</p>
              </div>
            </div>
            <div class="menu-list list">
              <div class="menu-name-div">
                <h4 class="menu-name">Паста карбонара</h4>
                <p class="menu-ingrid">
                  Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                </p>
              </div>
              <div class="menu-price-grams">
                <p class="menu-grams">350 г</p>
                <p class="menu-price">430 грн</p>
              </div>
            </div>
            <div class="menu-list list">
              <div class="menu-name-div">
                <h4 class="menu-name">Стейк зі свинини</h4>
                <p class="menu-ingrid">
                  Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                  овочами
                </p>
              </div>
              <div class="menu-price-grams">
                <p class="menu-grams">400 г</p>
                <p class="menu-price">500 грн</p>
              </div>
            </div>
            <div class="menu-list list">
              <div class="menu-name-div">
                <h4 class="menu-name">Горбуша в соусі з білого вина</h4>
                <p class="menu-ingrid">
                  Ніжна горбуша, вершковий соус на основі білого вина
                </p>
              </div>
              <div class="menu-price-grams">
                <p class="menu-grams">400 г</p>
                <p class="menu-price">400 грн</p>
              </div>
            </div>
          </div>
          <h3 class="menu-pro-title">Гарніри та закуски</h3>
          <div class="giv-list">
            <div class="menu-list list">
              <div class="menu-name-div">
                <h4 class="menu-name">Запечені овочі</h4>
                <p class="menu-ingrid">Кабачок, перець, помідор, баклажан</p>
              </div>
              <div class="menu-price-grams">
                <p class="menu-grams">200 г</p>
                <p class="menu-price">230 грн</p>
              </div>
            </div>
            <div class="menu-list list">
              <div class="menu-name-div">
                <h4 class="menu-name">Картопля фрі</h4>
                <p class="menu-ingrid">Картопля, соус томатний</p>
              </div>
              <div class="menu-price-grams">
                <p class="menu-grams">150 г</p>
                <p class="menu-price">160 грн</p>
              </div>
            </div>
            <div class="menu-list list">
              <div class="menu-name-div">
                <h4 class="menu-name">Картопля по-селянськи</h4>
                <p class="menu-ingrid">Картопля по-селянськи</p>
              </div>
              <div class="menu-price-grams">
                <p class="menu-grams">150 г</p>
                <p class="menu-price">160 грн</p>
              </div>
            </div>
            <div class="menu-list list">
              <div class="menu-name-div">
                <h4 class="menu-name">Хрумкі соління з бочки</h4>
                <p class="menu-ingrid">
                  Огірок солений, помідор квашений, квашена капуста, морква
                  по-корейські
                </p>
              </div>
              <div class="menu-price-grams">
                <p class="menu-grams">250 г</p>
                <p class="menu-price">350 грн</p>
              </div>
            </div>
            <div class="menu-list list">
              <div class="menu-name-div">
                <h4 class="menu-name">Крильця курячі в медовому соусі</h4>
                <p class="menu-ingrid">
                  Крильця курячі, гірчично-медовий соус, подається з морквою,
                  селерою і соусом блючиз
                </p>
              </div>
              <div class="menu-price-grams">
                <p class="menu-grams">400 г</p>
                <p class="menu-price">420 грн</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-divi">
        <h3 class="menu-pro-title">Салати</h3>
        <div class="giv-list">
          <div class="menu-list list">
            <div class="menu-name-div">
              <h4 class="menu-name">Цезар з куркою</h4>
              <p class="menu-ingrid">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </p>
            </div>
            <div class="menu-price-grams">
              <p class="menu-grams">230 г</p>
              <p class="menu-price">450 грн</p>
            </div>
          </div>
          <div class="menu-list list">
            <div class="menu-name-div">
              <h4 class="menu-name">Цезар з креветками</h4>
              <p class="menu-ingrid">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </p>
            </div>
            <div class="menu-price-grams">
              <p class="menu-grams">230 г</p>
              <p class="menu-price">300 грн</p>
            </div>
          </div>
          <div class="menu-list list">
            <div class="menu-name-div">
              <h4 class="menu-name">Грецький салат</h4>
              <p class="menu-ingrid">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </p>
            </div>
            <div class="menu-price-grams">
              <p class="menu-grams">230 г</p>
              <p class="menu-price">280 грн</p>
            </div>
          </div>
          <div class="menu-list list">
            <div class="menu-name-div">
              <h4 class="menu-name">М’ясний салат</h4>
              <p class="menu-ingrid">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </p>
            </div>
            <div class="menu-price-grams">
              <p class="menu-grams">230 г</p>
              <p class="menu-price">300 грн</p>
            </div>
          </div>
        </div>
        <h3 class="menu-pro-title">Десерти</h3>
        <div class="giv-list">
          <div class="menu-list list">
            <div class="menu-name-div">
              <h4 class="menu-name">Торт наполеон</h4>
            </div>
            <div class="menu-price-grams">
              <p class="menu-grams">230 г</p>
              <p class="menu-price">300 грн</p>
            </div>
          </div>
          <div class="menu-list list">
            <div class="menu-name-div">
              <h4 class="menu-name">Торт маковий</h4>
            </div>
            <div class="menu-price-grams">
              <p class="menu-grams">230 г</p>
              <p class="menu-price">300 грн</p>
            </div>
          </div>
          <div class="menu-list list">
            <div class="menu-name-div">
              <h4 class="menu-name">Тірамісу</h4>
            </div>
            <div class="menu-price-grams">
              <p class="menu-grams">120 г</p>
              <p class="menu-price">260 грн</p>
            </div>
          </div>
        </div>
        <h3 class="menu-pro-title">Напої</h3>
        <div class="giv-list">
          <div class="menu-list list">
            <div class="menu-name-div">
              <h4 class="menu-name">Чай чорний/зелений</h4>
            </div>
            <div class="menu-price-grams">
              <p class="menu-grams">500 мл</p>
              <p class="menu-price">100 грн</p>
            </div>
          </div>
          <div class="menu-list list">
            <h4 class="menu-name">Американо</h4>
            <div class="menu-price-grams">
              <p class="menu-grams">150 мл</p>
              <p class="menu-price">100 грн</p>
            </div>
          </div>
          <div class="menu-list list">
            <h4 class="menu-name">Капучино</h4>
            <div class="menu-price-grams">
              <p class="menu-grams">200 мл</p>
              <p class="menu-price">160 грн</p>
            </div>
          </div>
          <div class="menu-list list">
            <h4 class="menu-name">Лате</h4>
            <div class="menu-price-grams">
              <p class="menu-grams">200 мл</p>
              <p class="menu-price">160 грн</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-button-div">
      <button type="button" class="menu-button open-modal-btn" data-modal-target="modal1">Забронювати столик</button>
    </div>
  </div>
</section>
