<section class="hero-section hero-section-room">
  <div class="hero-room-container main-container">
    <a
      href="https://goo.gl/maps/W3a8JnimKizgc5Jj7"
      target="_blank"
      rel="noopener noreferrer"
      class="hero-link-adress hero-link-adress-top"
    >
      <svg class="hero-icon-map" width="24" height="24">
        <use href="./img/icons.svg#icon-map"></use>
      </svg>
      Україна, м. Полтава, вул. Маршала Бірюзова, 15
    </a>
    <div class="hero-room-content-wrapper">
      <div class="hero-wrapper">
        <h1 class="hero-room-title">ДВОМІСНИЙ НОМЕР люкс</h1>

        <p class="hero-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <button
        type="button"
        class="hero-room-button"
        onclick="window.location.href='#';"
      >
        Переглянути ціни
      </button>
      <div class="hero-room-bottom-wrapper">
        <a
          href="https://goo.gl/maps/W3a8JnimKizgc5Jj7"
          target="_blank"
          rel="noopener noreferrer"
          class="hero-link-adress hero-link-adress-bottom"
        >
          <svg class="hero-icon-map" width="24" height="24">
            <use href="./img/icons.svg#icon-map"></use>
          </svg>
          Україна, м. Полтава, вул. Маршала Бірюзова, 15
        </a>
        <ul class="hero-room-social-list">
          <li class="hero-social-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="hero-social-link"
            >
              <svg class="hero-social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="hero-social-item">
            <a
              href="https://uk-ua.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="hero-social-link"
            >
              <svg class="hero-social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="hero-social-item">
            <a
              href="https://web.telegram.org/"
              target="_blank"
              rel="noopener noreferrer"
              class="hero-social-link"
            >
              <svg class="hero-social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
