.block-close-room {
  display: flex;
  justify-content: end;
}

.modal-room-close {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  stroke: black;
}
.modal-room-close > svg {
  width: 24px;
  height: 24px;
  z-index: 100;
}

.book-room-form {
  margin: 0px;
}

.section-modal-room {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--hero-background-color);
  z-index: 10;
}

.main-block-modal-room {
  width: 320px;
  margin: auto;
}

@media (min-width: 414px) {
  .main-block-modal-room {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .main-block-modal-room {
    width: 592px;
    margin: 0;
  }
}

.sub-text-room {
  display: block;

  margin-left: 12px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.02em;

  color: var(--brown-color);
}

.book-room-modal {
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  width: 100%;

  background-color: var(--main-background-color);
}

@media (min-width: 414px) {
  .book-room-modal {
    width: 384px;
  }
}

@media (min-width: 1024px) {
  .book-room-modal {
    width: 712px;
    padding-left: 60px;
    padding-bottom: 60px;
  }
}

.title-room-mod {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  letter-spacing: 0.05em;

  color: var(--black-color);
}

@media (min-width: 1024px) {
  .title-room-mod {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;

    letter-spacing: 0.05em;

    color: #000000;
  }
}

.book-room-list {
  width: 290px;
  list-style: none;
  margin-bottom: 20px;
  text-align: initial;
}

@media (min-width: 414px) {
  .book-room-list {
    width: 100%;
    list-style: none;
    text-align: initial;
  }
}

@media (min-width: 1024px) {
  .book-room-list {
    width: 100%;
    gap: 16px;
    display: flex;
    margin-bottom: 0px;
  }
}

.book-tablet-sub-room {
  margin-top: 8px;
  margin-bottom: 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.02em;

  color: #c79002;
}
@media (min-width: 1024px) {
  .book-tablet-sub-room {
    margin-bottom: 28px;
  }

  .book-tablet-sub-room:last-child {
    margin-bottom: 0px;
  }
}

.book-room-item {
  position: relative;
  margin-bottom: 20px;
  /* height: 79px; */
}

@media (min-width: 1024px) {
  .book-room-item {
    margin-bottom: 28px;
    width: 288px;
  }
  .book-room-item:last-child {
    margin-bottom: 0px;
  }
}

.book-room-inpu {
  padding: 17px 12px;
  background-color: transparent;
  border: 1px solid #c79002;
  border-radius: 2px;

  width: 100%;
  height: 100%;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;

  color: #808080;

  padding-left: 15px;

  margin-bottom: 8px;
}

@media (min-width: 414px) {
  .book-room-inpu {
    width: 352px;
    margin-bottom: 8px;
  }
}
@media (min-width: 1024px) {
  .book-room-inpu {
    width: 288px;
    height: 66px;
    margin-bottom: 8px;
  }
}

.make-book-room {
  text-transform: uppercase;
  margin-top: 20px;

  padding: 20px 43px;
  background-color: var(--black-color);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  border: 1px solid var(--yellow-color);

  color: var(--white-color);

  transition-delay: 0ms;
  transition-duration: var(--transition-func);
  transition-property: color, background-color;
  transition-timing-function: var(--transition-dur);
}

.make-book-room:hover {
  background-color: var(--yellow-color);
  color: black;

  transition-delay: 0ms;
  transition-duration: var(--transition-func);
  transition-property: color, background-color;
  transition-timing-function: var(--transition-dur);
}
@media (min-width: 414px) {
  .make-book-room {
    margin-top: 20px;

    padding: 20px 43px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .make-book-room {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/* The container must be positioned relative: */
.custom-select-room {
  margin-bottom: 8px;
  border: 1px solid var(--brown-color);
  width: 100%;
  position: relative;

  border: 1px solid var(--brown-color);

  position: relative;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  height: 62px;
}

.custom-select-room select {
  display: none; /*hide original SELECT element: */
}

@media (max-width: 1023px) {
  .opacity {
    display: none;
  }
}

.opacity {
  opacity: 0;
}
