body{
    margin: 0;
}

.block-close{
  display: flex;
  justify-content: end;
}

.modal-table-close{

    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    stroke: black;
}
.modal-table-close > svg{
    width: 24px;
    height: 24px;
    z-index: 100;
}

.book-table-form{
    margin: 0px;
}

.section-modal-book-table{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--hero-background-color);
}
.main-block-modal-tabel{
  width: 320px;
  margin: auto;
}

@media (min-width: 414px) {
  .main-block-modal-tabel {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .main-block-modal-tabel{
    width: 592px;
    margin: 0;
  }
}
.book-table-modal {
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;

    width: 100%;

    background-color:var(--main-background-color);
}

@media (min-width: 414px) {
  .book-table-modal {
 
    width: 384px;

  }}
  
@media (min-width: 1024px){
  .book-table-modal{
    width: 637px;
      padding-left: 60px;
        padding-bottom: 60px;
  }
}
.title-table-mod {
margin-bottom: 40px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

letter-spacing: 0.05em;

color: var(--black-color);
}
@media (min-width: 414px) {
  .title-table-mod {
    text-align: center;
      margin-bottom: 40px;
  
      font-family: 'Times New Roman';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
  
      letter-spacing: 0.05em;
  
      color: var(--black-color);
    }
}
@media (min-width: 1024px){
  .title-table-mod{
  
    font-family: 'Times New Roman';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 37px;

    
      color: #000000;
  }
}
.sub-text{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

margin-left: 15px;

letter-spacing: 0.02em;


color: var(--brown-color);

}
.sub-title-mod-price{
text-align: start;
margin-bottom: 28px;

  font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;


letter-spacing: 0.05em;

color: var(--placeholder-color);
}
.book-table-list {
    width: 100%;
   list-style: none;
}

@media (min-width: 414px) {
  .book-table-list {
      width: 384px;
      list-style: none;
    }
}
@media (min-width: 1024px) {
  .book-table-list {
    gap: 16px;
    display: flex;
  }
}

.select-title{
  display: block;
  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  
    letter-spacing: 0.02em;
  
    color: var(--brown-color);
}
.book-tablet-sub-title{
    text-align: start;

    margin-bottom: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;


    letter-spacing: 0.02em;

    color: #C79002;
}

.book-price-sub-title{
  text-align: start;

   margin-left: 15px;
   margin-bottom: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;


    letter-spacing: 0.02em;

    color: #C79002;

}
.book-table-item {
    position: relative;
    margin-bottom: 8px;
    height: 54px;
}
.book-table-inpu {
    background-color: transparent;
    border: 1px solid #C79002;
    border-radius: 2px;

    width: 100%;
    height: 100%;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;

    color: #808080;

    padding-left: 15px;
}
.book-tablet-output{
  text-align: start;
  margin-bottom: 20px;
}

.make-book {
margin-top: 20px;

    padding: 20px 43px;
    width: 298px;
    background-color: var(--black-color);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

border: 1px solid var(--yellow-color);

color: var(--white-color);


transition-delay: 0ms;
transition-duration:var(--transition-func);
transition-property: color, background-color;
transition-timing-function: var(--transition-dur);
}

.make-book:hover{
  background-color: var(--yellow-color);
  color: black;

  transition-delay: 0ms;
  transition-duration:var(--transition-func);
  transition-property: color, background-color;
  transition-timing-function: var(--transition-dur);

}
@media (min-width: 414px) {
  .make-book {
      margin-top: 20px;
  
      padding: 20px 43px;
      width: 384px;
     
    }
}

@media (min-width: 1024px) {
  .make-book{
    width: 592px;
    display: flex;
    justify-content: center;
  }
}

.con-output {
  margin-bottom: 8px;
  padding: 18px 12px 8px 18px;
  width: 290px;
  height: 28px;

  background-color: transparent;
  border: 1px solid var(--brown-color);
}

@media (min-width: 414px) {
.con-output {
    margin-bottom: 8px;
    padding: 18px 12px 8px 18px;
    width: 352px;
    height: 28px;

  }
}
        @media (min-width: 1024px) {
          .con-output {
            padding: 13px 12px 14px 12px;
            margin-top: 40px;
            width: 262px;
          }
        }

.output {
  
  color: #808080;

  font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
/* identical to box height */

letter-spacing: 0.05em;
}


/* The container must be positioned relative: */
.custom-select {
margin-bottom: 8px;
    border: 1px solid var(--brown-color);
    width: 320px;
    position: relative;
   
    font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.05em;
  }
@media (min-width: 414px) {
  .custom-select {
      width: 384px;
    }
}
    @media (min-width: 1024px) {
      .custom-select{
        width: 286px;
      }
    }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: var(--main-background-color);
    
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: url(../../img/ep_arrow-down-bold.svg);
   
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    content: url(../../img/ep_arrow-down-bold.svg) 0 0 repeat;
    transform: rotate(180deg);
  }
  
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
   
    color: #808080;
    
    padding: 16px 12px;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {

    position: absolute;
    background-color: var(--main-background-color);
    border: 1px solid var(--brown-color);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

.select-items div:nth-child(n+1){
    border-top: 1px solid var(--brown-color);
}

  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  

