@media screen and (min-width: 320px) {
  .details-restaurant-wrap {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../../img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-bcg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 414px;
    max-height: 735px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 320px),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
    (min-resolution: 192dpi) and (min-width: 320px),
    (min-resolution: 2dppx) and (min-width: 320px) {
    .details-restaurant-wrap {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../../img/details-of-our-restaurant/restaurant-details-mobile/restaurant-details-bcg-mobile@2x.jpg);
    }
  }

  .details-restaurant {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  .details-restaurant-contant {
    padding-left: 33.8%;
    margin-bottom: 48px;
  }

  .details-restaurant-logo {
    margin-bottom: 12px;

    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: var(--white-color);
  }

  .details-restaurant-title {
    margin-bottom: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--white-color);
  }

  .details-restaurant-text {
    max-width: 90%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--grey-secondary-description-color);
  }

  .details-restaurant-list {
    margin-left: 0;
    margin-bottom: 80px;
    padding-left: 9.6%;
  }

  .details-restaurant-item {
    max-width: 274px;
    height: 270px;
  }

  .details-restaurant-item:not(:last-child) {
    margin-right: 20px;
  }

  .details-restaurant-img {
    max-width: 274px;
    height: 270px;
  }

  .details-restaurant-list .prev,
  .details-restaurant-list .next {
    position: absolute;
    top: 110%;
    height: 32px;
    width: 32px;
    z-index: 3;
    cursor: pointer;
  }

  .details-restaurant-list .next {
    left: 96px;
  }

  .details-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 24px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid var(--white-color);
    border-radius: 25px;
    min-width: 236px;
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--yellow-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .details-btn:hover,
  .details-btn:focus {
    background-color: var(--white-color);
    border: 2px solid var(--yellow-color);
  }

  .details-btn:not(:last-child) {
    margin-bottom: 16px;
  }

  .details-btn-link {
    width: 236px;
    text-align: center;
  }
}

/* -------------------Фонове зображення від таблет --------------- */

@media screen and (min-width: 1024px) {
  .details-restaurant-wrap {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../../img/details-of-our-restaurant/restaurant-details-tablet/restaurant-details-bcg-tablet.jpg);
    max-width: 1024px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1024px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
  (min-resolution: 192dpi) and (min-width: 1024px),
  (min-resolution: 2dppx) and (min-width: 1024px) {
  .details-restaurant-wrap {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../../img/details-of-our-restaurant/restaurant-details-tablet/restaurant-details-bcg-tablet@2x.jpg);
    max-width: 1024px;
  }
}
/* --------------------------------------------------------- */

@media screen and (min-width: 1024px) {
  .details-restaurant {
    padding-top: 48px;
    padding-bottom: 40px;
  }

  .details-restaurant-contant {
    padding-left: 24.8%;
    margin-bottom: 40px;
  }

  .details-restaurant-logo {
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 1.08;
  }

  .details-restaurant-title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.21;
  }

  .details-restaurant-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .details-restaurant-list {
    margin-left: 28.5%;
    padding-left: 0;
  }
  .details-restaurant-list .next {
    left: 64px;
  }

  .details-restaurant-wrapper {
    position: relative;
  }

  .details-restaurant-item:not(:last-child) {
    margin-right: 34px;
  }

  .details-restaurant-btn-wrap {
    position: absolute;
    bottom: 0;
  }
}

/* -------------------Фонове зображення від десктопа---------------------------- */

@media screen and (min-width: 1280px) {
  .details-restaurant-wrap {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../../img/details-of-our-restaurant/restaurant-details-desktop/restaurant-details-bcg-desktop.jpg);
    max-width: 1280px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1280px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
  (min-resolution: 192dpi) and (min-width: 1280px),
  (min-resolution: 2dppx) and (min-width: 1280px) {
  .details-restaurant-wrap {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../../img/details-of-our-restaurant/restaurant-details-desktop/restaurant-details-bcg-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .details-restaurant-contant {
    padding-left: 22.8%;
  }

  .details-restaurant-list {
    margin-left: 24.1%;
  }

  .details-restaurant-text {
    max-width: 71.1%;
  }
}
