footer {
  background-color: var(--black-footer-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 1040px) {
  footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.footer--container {
  display: flex;
  padding-left: 44px;
  padding-right: 18px;
}

@media (min-width: 1024px) {
  .footer--container {
    padding-left: 139px;
    padding-right: 107px;
  }
}

@media (min-width: 1280px) {
  .footer--container {
    padding-left: 201px;
    padding-right: 171px;
  }
}

.footer--container__positioned {
  margin-left: auto;
}

@media (min-width: 1024px) {
  .footer--container__positioned {
    display: flex;
    gap: 137px;
  }
}

@media (min-width: 1280px) {
  .footer--container__positioned {
    display: flex;
    gap: 199px;
  }
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Film P3';
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--yellow-color);
}

@media (min-width: 1024px) {
  .logo {
    display: flex;
    align-items: center;
    margin-right: 0;
    font-size: 64px;
  }
}

@media (max-width: 1023px) {
  .footer-nav {
    margin-bottom: 32px;
  }
}

.footer-nav--list {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--yellow-color);
}

@media (min-width: 1024px) {
  .footer-nav--list {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.footer-nav--item {
  margin-bottom: 12px;
}

.footer-nav--item:last-child {
  margin-bottom: 0;
}

.network--list {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--yellow-color);
}

@media (min-width: 1024px) {
  .network--list {
    display: flex;
    flex-direction: column-reverse;
    justify-items: baseline;
  }
}

.network--item {
  margin-right: 23px;
}

.network--item:last-child {
  margin-right: 0;
}

@media (min-width: 1024px) {
  .network--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    margin-bottom: 12px;
    margin-right: 0;
    border: 0.5px solid var(--yellow-color);
    border-radius: 2px;
  }
}

.network--link {
  display: flex;
  align-items: center;
  justify-items: center;
}

@media (max-width: 1023px) {
  .network--name {
    display: none;
  }
}

@media (min-width: 1024px) {
  .network--icon__instagram {
    margin-left: 12px;
  }
}

@media (min-width: 1024px) {
  .network--icon__facebook {
    margin-left: 15px;
  }
}

@media (min-width: 1024px) {
  .network--icon__telegram {
    margin-left: 18px;
  }
}

@media (max-width: 1023px) {
  .network--item {
    border: none;
  }
}
